
<div id="items-list">
  <% @jobs.each do |job| %>
    <div class="row well col-md-10 job salary<%= job.salary[1] %> <%= job.company.location %>" data-status="<%= job.company.location %>">

    <div class="col-sm-8 job-item">
      <h3 class="card-title">  <%= link_to "#{job.title}", root_path %></h3>
        Company: <%= job.company.name %> | Location: <%= job.company.location %></p>
      </p>
    </div>
    <div class="col-sm-4 job-option-buttons">
      <%=button_to "Apply",job_path(job), method: :get, class:"btn btn-warning"%>
      <%=button_to "Add to Favorite",jobs_path, class:"btn btn-primary disabled"%>
    </div>
  </div>
  <% end %>
</div>
