<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-brand">
    <%= link_to "MakeMyPayday", root_path, class: 'site-name' %>
    <%#= link_to image_tag('logo-big.png', class: 'logo'), root_path %>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li>
  
      <%= link_to "Started Applications: #{@bucket.total_applications}", bucket_index_path %>
    </li>
    <li>
      <% if current_user != nil %>
        <%= link_to "Hello, #{current_user.username}", dashboard_path %>
      <% end %>
    </li>
    <% if current_user %>
      <li>
        <%= link_to logout_path, method: :delete do %>
        <i class="fa fa-sign-out"></i> Logout
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to login_path do %>
        <i class="fa fa-sign-in"></i> Login
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
