<div id="secondary-navbar" class="nav">
  <ul class="nav navbar-nav navbar-left">
    <li>
      <%= link_to jobs_path, class:"navbar-list" do %>
        <i class="fa fa-align-justify navbar-list"></i> All Jobs
      <% end %>
    </li>
    <li class="nav">
      <%= link_to companies_path, class:"navbar-list" do %>
        <i class="fa fa-align-justify navbar-list"></i> All Companies
      <% end %>
    </li>
    <li>
  <% if current_user != nil %>
    <% if current_user.platform_admin? %>
    <%= link_to admin_dashboard_index_path, class:"navbar-list" do %>
      <i class="fa fa-align-justify navbar-list"></i>My Account
    <% end %>
  <% elsif current_user.employer? %>
    <%= link_to employer_dashboard_index_path, class:"navbar-list" do %>
      <i class="fa fa-align-justify navbar-list"></i>My Account
    <% end %>
  <%else %>
    <%= link_to dashboard_path, class:"navbar-list" do %>
    <i class="fa fa-align-justify navbar-list"></i>My Account
    <% end %>
  <% end %>
   </li>
 <%end %>
  </ul>
</div>
