<div class="page-content">
  <h2>All Companies:</h2>

  <div class="filter">
    <div class="row well col-md-10">
    <label>Filter By</label>
    <%= select :company, :filter_location, @locations, {:prompt => 'Location'} %>
    <%= select :company, :filter_industry, @industries, {:prompt => 'Industry'} %>
  </div>
  <br>

  <div id="items_list">
    <%@companies.each do |company|%>
      <div class="well col-md-3 company-in-list company <%= company.location %> <%= company.industry.name %>" data-status="<%= company.location %>" data-industry="<%= company.industry.name %>">
        <%= image_tag(company.img_path, class: "company-image", alt: company.name) %>
        <br></br>

        <h4><%=link_to "#{company.name.capitalize}", company_path(company_slug: company.slug) %></h4>
        <div class="panel-body format-panel">
          <p><%= company.location %></p>
          <p><%= company.industry.name %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
