<div class="page-content">
  <p></p>
  <div class="well col-md-10">
    <%=button_to "Put Online", admin_company_path(id: @company.id), class:"btn btn-warning", method: :put if current_user.platform_admin? && @company.status == "offline" unless current_user.nil?%>
    <%= image_tag(@company.img_path, class: "company-image", alt: @company.name) unless @company.img_path == nil %>
    <h2><%=@company.name.capitalize%></h2>
    <h1>Industry: <%= @company.industry.name %></h1>
    <h4>Description: <%= @company.description %></h4>
    <br>
    <h1>All Jobs</h1>
    <br>
    <% @company.jobs.each do |job| %>
    <strong><%=link_to "#{job.title.capitalize}", jobs_path%></strong>
    <br>
    <%= job.salary %>
    <br></br>
    <%end %>
  </div>
</div>
