<div class="page-content">

  <br></br>
  <center>
<h2>Add Company</h2>
</center>
<div class="well col-md-7 col-md-offset-2">
  <%= form_for [:employer, @company] do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>
    </div>
    <br></br>
    <div class="form-group">
      <%= f.label :location %>
      <select name="company[location]">
        <%= @states.each do |state| %>
          <option value="<%= state %>"><%= state %></option>
         <% end %>
       </select>
    <br></br>
    <div class="form-group">
      <%= f.label :industry_id %>
      <select name="company[industry_id]">
        <%= @industries.each do |industry| %>
          <option value="<%=industry.id %>"><%=industry.name %></option>
         <% end %>
       </select>
     </div>
    <div class="form-group">
      <%= f.label :img_path, 'Image' %>
      <%= f.text_field :img_path, class: 'center_button' %>
    </div>
    <div class="form-group">
      <%= f.submit 'Submit', :class => 'btn btn-primary' %>
    </div>
  <% end %>
</div>

</div>
